/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #b04949;
    margin: 0;
    padding: 0;
    
  }
  
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-top: 20px;
  }
  
  /* Game Container */
  .game-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hand {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card {
    display: inline-block;
    padding: 5px;
    background-color: #000000;
    color: white;
    border-radius: 2px;
    margin: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
  }
  
  .actions {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button + button {
    margin-left: 10px;
  }
  
  /* Game Over Section */
  h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #D32F2F;
    margin-top: 20px;
  }
  
  #dealer, #user-hand {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for Background */
  .greeting {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
    color: #fff;
  }
  
  